body{
    background-color: deeppink;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
.post{
    text-align: left;
    border: 1px solid black;
    width: 70%;
    padding: 1em;
    margin: 0 auto;
}
.post{
    text-align: center;
    border: 1px solid black;
    
}
.cabecera p{
    background-color: blue;
}